trojan=nl.test3.net:443, password=a6f7fe50-fa92-11ed-a5b6-1239d0255272, over-tls=true, tls-verification=false, tls-host=premium.outlook.com, fast-open=false, udp-relay=true, tag=🇳🇱TROJAN
vmess=dynamic-sg3b.obfs.xyz:443, method=none, password=c5aa70af-cb25-42ed-b0da-e9f5db42420a, obfs=wss, obfs-host=dynamic-sg3b.obfs.xyz, obfs-uri=/vmws, tls-host=premium.outlook.com,tls-verification=false, fast-open=true, udp-relay=false, aead=true, tag=🇸🇬DYNAMIC+VMESS(2023-5-31)
vmess=us2.oceis.net:443, method=none, password=6f270400-fa54-11ed-b635-205c6d5f5d78, obfs=wss, obfs-host=us2.oceis.net, obfs-uri=/vmws, tls-host=premium.outlook.com, tls-verification=false, fast-open=false, udp-relay=false, aead=true, tag=🇺🇸USA+VMESS-WS(2023-06-01)
vmess=sg3.socifiles.com:443, method=aes-128-gcm, password=1ca555c0-fa3e-11ed-9df7-1239d0255272, obfs=wss, obfs-host=sg3.socifiles.com, obfs-uri=/vmws, tls-host=premium.outlook.com, tls-verification=false, fast-open=false, udp-relay=false, aead=true, tag=🇸🇬24-31MAY (SINGAPORE)
