vmess=178.208.87.16:443, method=aes-128-gcm, password=357b652f-2f13-4e35-b34b-d7c29fba0dfb, obfs=wss, obfs-host=premium.outlook.com, obfs-uri=/, tls-verification=false, fast-open=false, udp-relay=false, aead=true, tag=🔥SERVER1️⃣

vmess=45.128.73.120:11155, method=aes-128-gcm, password=9b95da0a-3499-4ce7-a0fe-4f6f904e19bf, obfs=ws, obfs-host=premium.outlook.com, obfs-uri=/, fast-open=false, udp-relay=false, aead=true, tag=🔥SERVER2️⃣