trojan=nl.test3.net:443, password=a6f7fe50-fa92-11ed-a5b6-1239d0255272, over-tls=true, tls-verification=false, tls11=true,tls-host=premium.outlook.com, fast-open=false, udp-relay=false, tag=🇳🇱(2023-06-01)
trojan=sg1go.ipservers.xyz:443, password=jagoanssh-kiwymonzy, over-tls=true, tls-verification=false, tls13=true,tls-host=premium.outlook.com, fast-open=false, udp-relay=false, tag=🇸🇬(2023-06-05)
vmess=dynamic-sg3b.obfs.xyz:443, method=none, password=c5aa70af-cb25-42ed-b0da-e9f5db42420a, obfs=wss, obfs-host=dynamic-sg3b.obfs.xyz, obfs-uri=/vmws, tls13=true,tls-host=premium.outlook.com,tls-verification=false, fast-open=false, udp-relay=false, aead=true, tag=🇸🇬DYNAMIC(2023-05-31)
vmess=us2.oceis.net:443, method=none, password=6f270400-fa54-11ed-b635-205c6d5f5d78, obfs=wss, obfs-host=us2.oceis.net, obfs-uri=/vmws, tls13=true,tls-host=premium.outlook.com, tls-verification=false, fast-open=false, udp-relay=false, aead=true, tag=🇺🇸(2023-06-01)
vmess=us-lb.sshkit.org:80, method=aes-128-gcm, password=6fea1649-425b-4092-bf53-29792152c925, obfs=ws, tls13=true,obfs-host=premium.outlook.com, obfs-uri=/sshkit/kiwymonzy/647392d0f33de/, fast-open=false, udp-relay=false, aead=true, tag=🇺🇸(2023-06-05)
vmess=se1.v2-ray.us:443, method=none, password=1e5ee3eb-8900-4628-a71f-f8d87b8d1a21, obfs=wss, obfs-host=se1.v2-ray.us, obfs-uri=/vmess, tls-verification=false, tls-host=premium.outlook.com,tls13=true,fast-open=false, udp-relay=false, aead=true, tag=🇸🇪(2023-06-05)
trojan=ukt-2.opensvr.net:443, password=opentunnel.net-kiwymonzy, over-tls=true, tls-verification=false, tls13=true,tls-host=premium.outlook.com, fast-open=false, udp-relay=false, tag=🇬🇧30GB(2023-06-26)